.title {
    font-family: arial;
    font-size: 180%;
    font-weight: bold;
    letter-spacing: 1px;
}
.underline {
    border-bottom: 4px solid red;
    width: 15%;
    align-self: center;
}
.text-color{
    color: gray;
}
.email-class{
    color: gray;
    width: 13%;
}